@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap');
@import "variable.css";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    overflow-x: hidden;
}
.u__background-color-gray{
    background-color: var(--background-color-gray);
}

#uyen .u__main{
    display: flex;
    flex-direction: column;
    gap: 100px;
}

#uyen .intro{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-items: flex-end;

    padding: 0 40px;
}
#uyen .intro__title{
    font-size: 70px;
}
#uyen .intro__des{
    grid-column: 3;
}

