:root {
	--c--backgroundcoloer--footer: #b6a698;
	--c--backgroundcoloer--pages: #e2d9ce;
	--c--bacgroundcolor--ofitem: #e2d9ce;
	--c--bacgroundcolo--btn--: #4ea685;
	--c--bacgroundcolor--content: rgb(249 248 199);
	--c--buttoncoloer--: #212529;
	--c--grip--item: 50% 50%;
	--c--fonsize--header: 30px;
	--c--fontsize--conten--reponsive: 15px;
	--c--fontsize--name--reponsive: 20px;
	--c--fonsize--name--detail: 25px;
	--c--fonsize--content--detail: 20px;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap");
* {
	font-family: "Roboto", sans-serif;
	/* background-color: var(--c--backgroundcoloer--pages); */
}
.--c--container {
	background-color: var(--c--backgroundcoloer--pages);
font-family: "Roboto", sans-serif;
	text-transform: capitalize;
	font-size: var(--c--fonsize--content--detail);
}
.c--product--detail {
	font-size: var(--c--fonsize--content--detail);

	width: 70%;
	margin: 0 auto;
}

.c--img--product--detail img {
	display: block;
	margin: 0 auto;
	object-fit: cover;
	width: 90%;
}
.c--product--item {
	display: grid;
	grid-template-columns: var(--c--grip--item);
}
.c--header2--detail {
	font-size: var(--c--fonsize--header);
	text-align: center;
	margin-bottom: 40px;
}
.c--name--photo--detail {
	font-size: var(--c--fonsize--name--detail);
	font-weight: bold;
	margin-bottom: 25px;
}
.fa-heart-o {
	margin-right: 10px;
	cursor: pointer;
}
.c--hr {
	height: 1px;
}
.c--margin--p-detail {
	margin-top: 25px;
	margin-bottom: 25px;
}
/* tab================================= */
.--c--mytabs {
	font-family: "Roboto", sans-serif;
	font-size: var(--c--fonsize--content--detail);

	display: flex;
	flex-wrap: wrap;
	width: 70%;
	margin: 0 auto;
	/* margin: 50px auto; */
}
.--c--mytabs input[type="radio"] {
	display: none;
}
.--c--mytabs label {
	padding: 25px 40px;
	font-weight: bold;
	cursor: pointer;
}
.--c--mytabs .--c--tab {
	margin-right: 20px;
	width: 100%;
	padding: 20px;
	/* background: var(--c--bacgroundcolor--ofitem); */
	order: 1;
	font-size: var(--c--fonsize--name--detail);
	display: none;
}

.--c--mytabs input[type="radio"]:checked + label + .--c--tab {
	display: block;
}

.--c--mytabs input[type="radio"]:checked + label {
	border-bottom: 5px rgb(29, 28, 28) solid;
}
/* comment */
.--c--comment {
	width: 40%;
	height: 250px;
	padding: 10px;
	background-color: var(--c--bacgroundcolor--ofitem);
	color: #192c35;
	outline: none;
	font-size: var(--c--fonsize--content--detail);
}
.--c--btn {
	width: 140px;
	height: 50px;
	align-items: center;
	background: var(--c--bacgroundcolo--btn--);
	border-radius: 6px;
	display: flex;
	color: white;
	justify-content: center;
	outline: none;
	cursor: pointer;
}
.--c--content--detail {
	text-transform: none;
	margin-left: 10px;
}
.--c--content--user {
	float: left;
	margin-left: 10px;
}
.--c--conten--date {
	float: right;
}
.--c--comment--content {
	margin-top: 10px;
}
.--c--content-detail- {
	background-color: var(--c--bacgroundcolor--content);
	padding: 20px;
}
/* footer======================================= */
.--c--fluit--footer {
	padding: 30px 0;
	width: 100%;
	background-color: var(--c--backgroundcoloer--footer);
}
.--c--footer- {
	width: 70%;
	margin-top: 20px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 25% 30% 25% 20%;
	text-align: left;
}
.--c--footer- h3 {
	text-transform: uppercase;
	font-size: var(--c--fonsize--name--detail);
	padding: 10px;
	margin-bottom: 10px;
	font-weight: bold;
	/* color: white; */
}
.--c--footer- p {
	font-size: var(--c--fontsize--conten--reponsive);
	padding: 10px;
	font-weight: bold;
	/* color: white; */
}
/* mobille ========================================= */

@media screen and (max-width: 768px) {
	.--c--container,
	.c--product--detail {
		width: 100%;
	}
	hr {
		width: 100%;
	}
	.c--product--item {
		display: block;
	}
	.c--img--product--detail,
	.c--content--product--detail,
	.--c--mytabs {
		width: 100%;
		padding: 20px;
		margin: 0 auto;
	}
	.c--img--product--detail img {
		width: 100%;
	}
	.--c--comment {
		width: 100%;
	}

	.--c--content--user,
	.--c--conten--date,
	.--c--content--detail,
	.--c--comment,
	.c--margin--p-detail {
		font-size: var(--c--fontsize--conten--reponsive);
	}
	.--c--tab,
	.c--name--photo--detail {
		font-size: var(--c--fontsize--name--reponsive);
	}
	.--c--btn {
		padding: 10px;
	}
	.--c--footer- {
		text-align: center;
		grid-template-columns: 50% 50%;
	}
	.--c--footer- h3 {
		margin-top: 30px;
		font-size: var(--c--fontsize--name--reponsive);
	}
	.--c--footer- p {
		font-size: var(--c--fontsize--conten--reponsive);
	}
}
@media (min-width: 740px) and (max-width: 1023px) {
	.--c--container {
		width: 100%;
	}
	.--c--comment {
		width: 100%;
	}
	.--c--footer- {
		text-align: center;
		grid-template-columns: 50% 50%;
	}
	.--c--footer- h3 {
		margin-top: 10px;
	}
}
